@font-face {
  font-family: "Quicksand";
  src: url("~assets/css/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

body {
  background: #49bd9a;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container > .slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  padding: 20px 40px;
  background: white;
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
}

.main-slide .content {
  justify-content: center;
}

.main-title, .main-subtitle, .instructions, .progress, .navbar, .section-title, .title, .subtitle, .label, .book, .letter, .body-system, .recipe-step {
  font-family:
  'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
}

.main-title, .section-title, .title, .label {
  display: block;
  font-weight: 600;
  color: #666666;
}

.main-title, .main-subtitle {
  text-align: center;
}

.main-title {
  font-size: 46px;
  letter-spacing: 1px;
  font-weight: 600;
}

.main-subtitle {
  font-weight: 600;
  font-size: 32px;
  color: #666666;
  word-spacing: 5px;
}

.section-title {
  font-size: 32px;
  letter-spacing: 1px;
}

.title {
  font-size: 32px;
  line-height: 1.1;
}

.instructions {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

.instructions em {
  font-size: 32px;
}

.interactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #666666;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.progress {
  align-items: center;
  font-size: 16px;
  line-height: 0px;
}

.progress .section {
  /*border: 1px solid #999999;*/
  min-width: 22px;
  height: 22px;
  box-shadow: 
    1px 0 0 0 #888, 
    0 1px 0 0 #888, 
    1px 1px 0 0 #888,   /* Just to fix the corner */
    1px 0 0 0 #888 inset, 
    0 1px 0 0 #888 inset;
}

.progress .section.open {
  overflow: hidden;
  animation-duration: 1s;
  animation-name: open;
}

.progress .section.completed {
  background-color: #49bd9a;
}

.progress .slide {
  display: inline-block;
  margin: 0px;
  width: 22px;
  height: 22px;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
}

.progress .slide.opened {
  background-color: #e6e6e6;
}

.progress .slide.nuxt-link-exact-active {
  background-color: #dbf2eb;
}

.progress .slide.completed {
  background-color: #49bd9a;
  border-right: 1px solid #338163;
  border-top: 1px solid #338163;
}

@keyframes open {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

.links {
}

em {
  color: #49bd9a;
  font-style: normal;
}

.ivu-btn-primary {
  background-color: #49bd9a;
  border-color: #49bd9a;
  border-radius: 20px;
}
.ivu-btn-primary:hover {
  background-color: #77d6b9;
  border-color: #77d6b9;
}
.ivu-btn-primary:active {
  background-color: #46b594;
  border-color: #46b594;
}

@media only screen and (max-width: 800px) {
  html, body {
    overflow-x: hidden;
  }

  body {
    position: relative;
    width: 100vw;
  }

  .container {
    display: block;
    margin: 0px;
  }

  .container > .slide {
    display: block;
    max-height: inherit;
    padding: 5px 10px;
  }

  .content {
    height: inherit;
    min-height: 520px;
  }

  .navbar {
    height: inherit;
    margin-top: 10px;
  }
  .progress {
    display: block;
  }
}
